.mainArticleTitle {
  color: #db2220;
}

.listArticleTitle {
  color: black;
}

.listArticleTitle > h5 {
  font-size: 18px !important;
}

.listArticleExcerpt {
  line-height: 1;
}

.articleDetails > div {
  float: left;
}

.list {
  display: flex;
  font-size: 16px;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .list {
    flex-direction: row;
  }
  .listArticleTitle {
    margin-left: 1em;
  }
}
