/** Common element styles **/
.lineHeader {
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
}

.lineHeader h3 {
  background: #fff;
  color: #1a1a1a;
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 0.15em;
  line-height: 26px;
  margin-bottom: 0;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
  top: 13px;
  font-style: normal;
  font-weight: 400;
  font-weight: 900;
}

.lineHeader .active {
  color: #b50000;
  text-decoration: underline;
  color: #b50000;
  text-decoration: underline;
  font-size: 1.2rem;
  text-shadow: 1px 2px 4px #999;
}

.lineHeader h3:hover {
  cursor: pointer;
}
