@media (min-width: 0px) and (max-width: 338px) {
  .logoBanner img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 449px) {
  .navContainer {
    display: none !important;
  }
  .mobileMenu,
  .logoBanner,
  .contactBanner {
    width: 100%;
    display: block;
  }

  .mobileMenu div {
    display: flex;
    justify-content: flex-end;
  }

  .mobileMenu {
    margin-bottom: 1em;
  }
}

@media (min-width: 449px) and (max-width: 576px) {
  .navContainer {
    display: none !important;
  }

  .mobileMenu {
    display: flex;
    justify-content: flex-start;
  }
  .contactBanner {
    justify-content: flex-end;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .logoBanner img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .navContainer,
  .contactBanner {
    justify-content: center;
  }
  .navItem {
    margin-right: 1em;
  }
}

@media (min-width: 992px) {
  .contactBanner {
    justify-content: flex-end;
  }
}

@media (min-width: 992px) and (max-width: 1045px) {
  .navItem {
    margin-right: 10px;
  }
}

@media (min-width: 1045px) {
  .navItem {
    margin-right: 1em;
  }

  .navItem:last-child {
    margin-right: 0;
  }
}
@media (min-width: 576px) {
  .mobileMenu {
    display: none;
  }
  .navContainer {
    background-color: #fff;
    display: flex !important;
    justify-content: flex-end !important;
    padding-left: 0;
  }

  .navItem {
    position: relative;
    font-size: 1.1rem;
    transition: all 200ms linear;
  }

  .navItem:hover:after {
    bottom: 0;
    opacity: 1;
  }
  .navItem.active:hover:after {
    opacity: 0;
  }

  .navItem a:hover {
    text-decoration: none !important;
    color: #b50000;
    cursor: pointer;
  }

  .navItem:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #b50000;
    opacity: 0;
    transition: all 200ms linear;
  }

  .dropDownItem > a::after {
    display: none;
  }

  .dropDownItem > a {
    background-color: #fff;
    padding: 0;
    margin: 0;
    color: #000 !important;
  }

  .dropDownNavItem {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    margin-right: 1em;
    font-size: 1.1rem;
    transition: all 200ms linear;
  }
  .dropDownNavItem:hover,
  .dropDownNavItem:focus {
    color: #fff !important;
    background-color: #a9a9a9 !important;
    border-bottom: 3px solid #fff !important;
  }
}
