.header {
  display: block;
  background-color: #495057;
  padding: 5px;
  color: white;
  font-size: 1rem;
  border-bottom: 5px solid #b50000;
  font-weight: 600;
  text-shadow: 0px 0px 1px black;
}

.lh22px {
  line-height: 22px;
}

.toggleIconClose {
  font-size: 2rem;
  float: right;
  margin-top: -16px;
  margin-bottom: -12px;
}

.toggleIconOpen {
  font-size: 1.6rem;
  float: right;
  margin-top: -7px;
  margin-bottom: -11px;
}
