.icon {
  padding: 10px !important;
  border-radius: 8px;
}

.twitter {
  background-color: #29c5f6 !important;
}

.facebook {
  background-color: #3b5998 !important;
}

.linkedin {
  background-color: #0082c9 !important;
}
