.tabContainer {
  position: relative;
  bottom: 4.2em;
}

.mobileTabContainer {
  position: relative;
  bottom: 7.5em;
}

.tab {
  background: linear-gradient(360deg, rgba(144, 25, 24, 0.9) 60%, rgba(221, 38, 36, 0.9) 100%),
    #333333;
  max-height: 42px;
}

.tabActive {
  background: rgba(255, 255, 255, 1);
  border-top: 3px solid
    linear-gradient(360deg, rgba(144, 25, 24, 0.9) 60%, rgba(221, 38, 36, 0.9) 100%);
  border-right: 3px solid
    linear-gradient(360deg, rgba(144, 25, 24, 0.9) 60%, rgba(221, 38, 36, 0.9) 100%);
  border-left: 3px solid
    linear-gradient(360deg, rgba(144, 25, 24, 0.9) 60%, rgba(221, 38, 36, 0.9) 100%);
  border-bottom: 3px solid #fff;
  position: relative;
  top: -2px;
}

.tab,
.tabActive {
  margin-right: 8px;
  max-width: 210px;
  font-size: 1rem;
}

.tab > a {
  color: #fff;
}
.tabActive > a {
  color: rgba(221, 38, 36, 0.9);
  font-weight: 900;
  border-top: 2px solid rgba(221, 38, 36, 0.9);
  border-right: 2px solid rgba(221, 38, 36, 0.9);
  border-left: 2px solid rgba(221, 38, 36, 0.9);
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.tabsBtn {
  width: 200px;
  border: 0;
  height: 42px;
  border-radius: 0px;
}

.practice {
  width: 200px;
  text-align: center;
}
